#section1 {
  position: relative;
  background: $white;
  /* this is to stop collapsing margins */
  padding-top: 1px;
  margin-top: -1px;
  height: $section-height;
  /*==============================
              PAGE 1
  ==============================*/
  .page1 {
    // background: $gray-light;
    background-image: url("../media/section1/bg_Intro.jpg");
    @include background();
    padding-top: 1px;
    margin-top: -1px;
    height: 100%;
    color: $white;
    h3 {
      text-align: center;
      margin-top: 100px;
    }
    p {
      text-align: center;
    }
    button {
      margin: 0 auto;
      display: block;
      color: $white;
    }
  }
  /*==============================
              PAGE 2
  ==============================*/
  .page2 {
    background: $gray-dark;
    padding-top: 1px;
    margin-top: -1px;
    height: 100%;
    color: $white;
    h3 {
      text-align: center;
      margin-top: 100px;
    }
    p {
      text-align: center;
    }
    button {
      margin: 0 auto;
      display: block;
      color: $white;
    }
  }
//END SECTION 1
}
