/* ============================================================
VARIABLES
============================================================ */

$gray            : rgba(119, 120, 123, 1);
$gray-light      : rgba(230, 231, 232, 1);
$gray-dark       : rgba(88, 89, 91, 1);
$black           : #000000;
$white           : #ffffff;

$max-width	     : 1010px;
$section-height  : 660px;
$header-height   : 50px;
$footer-height   : 40px;
